body {
  font-family: "Press Start 2P", cursive;
  margin: 0px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #8c3f5d;
}

.title {
  color: honeydew;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
}

.titlebar {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.button {
  background-color: transparent;
  border: none;
}

.icon-img {
  height: 200px;
  filter: drop-shadow(3px 3px 1px #141414);
}

.icon-img:hover {
  position: relative;
  bottom: 20px;
  height: 220px;
  filter: drop-shadow(18px 18px 3px #141414);
}

.icon-img.icon-img:active {
  bottom: 10px;
  height: 210px;
  filter: drop-shadow(5px 6px 5px #14141460);
}

footer {
  color: honeydew;
  background-color: #141414;
  font-size: 11px;
  padding: 8px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

footer p {
  text-align: center;
  line-height: 14px;
}

footer a {
  text-decoration: none;
  color: honeydew;
}

footer a:hover {
  text-decoration: underline;
}
