body {
  font-family: "Press Start 2P", cursive;
  margin: 0px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: honeydew;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
}

.titlebar {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.icon-img {
  height: 200px;
}

footer {
  color: honeydew;
  background-color: #141414;
  font-size: 11px;
  padding: 8px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: honeydew;
}

footer a:hover {
  text-decoration: underline;
}
